<p id="notice"><%= notice %></p>

<h2>Institution: <%= @institution.name %></h2>

<p>
  <strong>Inst class:</strong>
  <%= @institution.inst_class %>
</p>

<p>
  <strong>Address province:</strong>
  <%= @institution.address_province %>
</p>

<p>
  <strong>Address municipality:</strong>
  <%= @institution.address_municipality %>
</p>

<p>
  <strong>Address street no:</strong>
  <%= @institution.address_street_no %>
</p>

<p>
  <strong>Cong distr num:</strong>
  <%= @institution.cong_distr_num %>
</p>

<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
</br>
<%= link_to 'Data Records', [@institution, :data_records] %> |
<%= link_to 'Tuitions', [@institution, :tuitions] %> |

