<p id="notice"><%= notice %></p>

<h2>Institution: <%= @institution.name %></h2>

</br>
<h3> Institution summary</h3>

<div class = "container">
<table class = "table-bordered info-table">
  <tbody>
    <tr>
      <th>Classification</th>
      <td><%= @institution.inst_class %></td>
    </tr>
    <tr>
      <th>Province</th>
      <td><%= @institution.address_province %></td>
    </tr>
    <tr>
      <th>Municipality</th>
      <td><%= @institution.address_municipality %></td>
    </tr>
    <tr>
      <th>Street address</th>
      <td><%= @institution.address_street_no %></td>
    </tr>
    <tr>
      <th>Congressional district number</th>
      <td><%= @institution.cong_distr_num%></td>
    </tr>
  </tbody>
</table>

</div>

<%= link_to 'Contacts', [@institution, :inst_contacts] %> |
<%= link_to 'Data Records', [@institution, :data_records] %> |
<%= link_to 'Tuitions', [@institution, :tuitions] %> |
<%= link_to 'Faculty Headcounts', [@institution, :faculty_headcounts] %>

</br>
</br>

<% if admin_signed_in? %>
<%= link_to 'Edit Institution', edit_institution_path(@institution) %> |
<% end %>
<%= link_to 'Back', institutions_path %>



