<p id="notice"><%= notice %></p>

<p>
  <strong>Institution:</strong>
  <%= @inst_contact.institution %>
</p>

<p>
  <strong>Contact num:</strong>
  <%= @inst_contact.contact_num %>
</p>

<%= link_to 'Edit', edit_institution_inst_contact_path(@institution, @inst_contact) %> |
<%= link_to 'Back', institution_inst_contacts_path %>
