<p id="notice"><%= notice %></p>

<h2>Region: <%= @region.region_name %></h2>

</br>

<h3>Regional Data Records</h3>
<table class = "table-bordered stats-table">
  <thead>
    <tr>
      <th>Release date</th>
      <th>Academic year and term</th>
      <th>Cost per student</th>
      <th>Private nonsec</th>
      <th>Private sec</th>
      <th>Special HEIs</th>
      <th>Other government schools</th>
      <th>CHED-supervised institutions</th>
      <th>Local colleges and universities</th>
      <th>SUCs main</th>
      <th>SUCs sat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regional_data_records.each do |regional_data_record| %>
      <tr>
        <td><%= regional_data_record.release_date %></td>
        <td><%= regional_data_record.acadyr %></td>
        <td><%= regional_data_record.cost_per_stud %></td>
        <td><%= regional_data_record.private_nonsec %></td>
        <td><%= regional_data_record.private_sec %></td>
        <td><%= regional_data_record.special_HEI %></td>
        <td><%= regional_data_record.other_govt_schools %></td>
        <td><%= regional_data_record.ched_supervised_institution %></td>
        <td><%= regional_data_record.local_colleges_and_uni %></td>
        <td><%= regional_data_record.SUCs_main %></td>
        <td><%= regional_data_record.SUCs_sat %></td>
        <td><%= link_to 'Show', [@region, regional_data_record] %></td>
        <td><%= link_to 'Edit', edit_region_regional_data_record_path(@region, regional_data_record) %></td>
        <td><%= link_to 'Destroy', [@region, regional_data_record], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Regional Data Record', new_region_regional_data_record_path %> |
<%= link_to 'Back', @region %>
