<p id="notice"><%= notice %></p>

<p>
  <strong>Region:</strong>
  <%= @regional_data_record.region.region_name %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @regional_data_record.release_date %>
</p>

<p>
  <strong>Acadyr:</strong>
  <%= @regional_data_record.acadyr %>
</p>

<p>
  <strong>Cost per stud:</strong>
  <%= @regional_data_record.cost_per_stud %>
</p>

<p>
  <strong>Private nonsec:</strong>
  <%= @regional_data_record.private_nonsec %>
</p>

<p>
  <strong>Private sec:</strong>
  <%= @regional_data_record.private_sec %>
</p>

<p>
  <strong>Special hei:</strong>
  <%= @regional_data_record.special_HEI %>
</p>

<p>
  <strong>Other govt schools:</strong>
  <%= @regional_data_record.other_govt_schools %>
</p>

<p>
  <strong>Ched supervised institution:</strong>
  <%= @regional_data_record.ched_supervised_institution %>
</p>

<p>
  <strong>Local colleges and uni:</strong>
  <%= @regional_data_record.local_colleges_and_uni %>
</p>

<p>
  <strong>Sucs main:</strong>
  <%= @regional_data_record.SUCs_main %>
</p>

<p>
  <strong>Sucs sat:</strong>
  <%= @regional_data_record.SUCs_sat %>
</p>

<%= link_to 'Edit', edit_region_regional_data_record_path(@region, @regional_data_record) %> |
<%= link_to 'Back', region_regional_data_records_path %>
