<p id="notice"><%= notice %></p>

<h1>
  <%= @tesda_course_sector.tcs_name %>
</h1>

<p>
  <strong>Tcs desc:</strong>
  <%= @tesda_course_sector.tcs_desc %>
</p>

<h3>Tesda Courses</h3>

<table>
  <thead>
    <tr>
      <th>Tc name</th>
      <th>Tc hrs dur</th>
      <th>Tesda course sector</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tesda_courses.each do |tesda_course| %>
      <tr>
        <td><%= tesda_course.tc_name %></td>
        <td><%= tesda_course.tc_hrs_dur %></td>
        <td><%= tesda_course.tesda_course_sector %></td>
        <td><%= link_to 'Show', tesda_course %></td>
        <td><%= link_to 'Edit', edit_tesda_course_path(tesda_course) %></td>
        <td><%= link_to 'Destroy', tesda_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_tesda_course_sector_path(@tesda_course_sector) %> |
<%= link_to 'Back', tesda_course_sectors_path %>
