<p id="notice"><%= notice %></p>

<p>
  <strong>Tcs name:</strong>
  <%= @tesda_course_sector.tcs_name %>
</p>

<p>
  <strong>Tcs desc:</strong>
  <%= @tesda_course_sector.tcs_desc %>
</p>

<%= link_to 'Edit', edit_tesda_course_sector_path(@tesda_course_sector) %> |
<%= link_to 'Back', tesda_course_sectors_path %>
