<p id="notice"><%= notice %></p>

<h1>Data Records</h1>
<h2>Institution: <%= @institution.name %></h2>

<table>
  <thead>
    <tr>
      <th>Release date</th>
      <th>Acadyr termno</th>
      <th>Stud count</th>
      <th>Enrolled</th>
      <th>Graduated</th>
      <th>Cost per stud</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_records.each do |data_record| %>
      <tr>
        <td><%= data_record.release_date %></td>
        <td><%= data_record.acadyr_termno %></td>
        <td><%= data_record.stud_count %></td>
        <td><%= data_record.enrolled %></td>
        <td><%= data_record.graduated %></td>
        <td><%= data_record.cost_per_stud %></td>
        <td><%= link_to 'Show', [@institution, data_record] %></td>
        <td><%= link_to 'Edit', edit_institution_data_record_path(@institution, data_record) %></td>
        <td><%= link_to 'Destroy', [@institution, data_record], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data Record', new_institution_data_record_path %> |
<%= link_to 'Back', @institution %>
