<p id="notice"><%= notice %></p>

<h1>Institutions Inst Contacts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @institutions_inst_contacts.each do |institutions_inst_contact| %>
      <tr>
        <td><%= link_to 'Show', institutions_inst_contact %></td>
        <td><%= link_to 'Edit', edit_institutions_inst_contact_path(institutions_inst_contact) %></td>
        <td><%= link_to 'Destroy', institutions_inst_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Institutions Inst Contact', new_institutions_inst_contact_path %>
