<p id="notice"><%= notice %></p>

<h1>Tuitions</h1>

<table>
  <thead>
    <tr>
      <th>Institution</th>
      <th>Release date</th>
      <th>Acadyr termno</th>
      <th>Bacc</th>
      <th>Ms ma</th>
      <th>Phd</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tuitions.each do |tuition| %>
      <tr>
        <td><%= tuition.institution %></td>
        <td><%= tuition.release_date %></td>
        <td><%= tuition.acadyr_termno %></td>
        <td><%= tuition.bacc %></td>
        <td><%= tuition.ms_ma %></td>
        <td><%= tuition.phd %></td>
        <td><%= link_to 'Show', tuition %></td>
        <td><%= link_to 'Edit', edit_tuition_path(tuition) %></td>
        <td><%= link_to 'Destroy', tuition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tuition', new_tuition_path %>
