<p id="notice"><%= notice %></p>

<p>
  <strong>Institution:</strong>
  <%= @tuition.institution.name %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @tuition.release_date %>
</p>

<p>
  <strong>Acadyr termno:</strong>
  <%= @tuition.acadyr_termno %>
</p>

<p>
  <strong>Bacc:</strong>
  <%= @tuition.bacc %>
</p>

<p>
  <strong>Ms ma:</strong>
  <%= @tuition.ms_ma %>
</p>

<p>
  <strong>Phd:</strong>
  <%= @tuition.phd %>
</p>

<%= link_to 'Edit', edit_institution_tuition_path(@institution, @tuition) %> |
<%= link_to 'Back', institution_tuitions_path %>
