<p id="notice"><%= notice %></p>

<h2>Region: <%= @region.region_name %></h2>

</br>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %> |
<%= link_to 'Show statistics', [@region, :regional_data_records] %>
