<!DOCTYPE html>
<html>
  <head>
    <title>Hedex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "navbar navbar-inverse">
      <div class = "container">
        <nav>
          <ul class = "nav navbar-nav navbar-left">
            <li>
            <%= link_to('Institutions Index', institutions_path) %> 
            </li>
            <li>
            <%= link_to('TESDA Tracker', tesda_course_sectors_path) %>
            </li>
            <li>
            <%= link_to('Region Records', regions_path) %>
            </li>
          </ul>
          
          <ul class = "nav navbar-nav navbar-right">
            <% if admin_signed_in? %>
              <li>
                <p class = "navbar-text admin-logged-in"> Logged in as admin </p>
              </li>
              <li>
                <%= link_to('Logout (Admin)', destroy_admin_session_path, method: :delete) %>
              </li>
            <% end %>
            <% if principal_signed_in? %>
              <li>
                <p class = "navbar-text prin-logged-in"> Logged in as principal </p>
              </li>
              <li>
              <%= link_to('Logout', destroy_principal_session_path, method: :delete) %>        
              </li>
            <% else %>
              <li>
              <%= link_to('Login as Principal', new_principal_session_path)  %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
